<div class="users">
  <h1>ユーザー一覧</h1>
  <div class="users-list">
    <% @users.each do |user| %>
      <div class="users-item">
        <div class="users-left">
          <img src="<%= "/images/#{user.image}" %>" >
        </div>
        <div class="users-right">
          <div class="users-name">
            <%= link_to(user.name, "/users/#{user.id}") %>
          </div>
          <div class="users-sex">
            ⚤ <%= user.sexual %> / ♡ <%= user.love %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>