<p>ユーザー一覧</p>
<% @users.each do |user| %>
  <div class="user-item">
    <img src="<%= "/images/#{user.image}" %>" ><br>
    ▶︎<%= link_to(user.name, "/users/#{user.id}") %><br>
    <%= user.sexual %><br>
    <%= user.love %><br>
  </div>
<% end %>