<p>投稿詳細画面</p>
<div class="posts-item">
  <%= @post.content %>
</div>
<div class="posts-time">
  <%= @post.created_at %>
</div>
<div class="posts-menu">
  <%= link_to("編集", "/posts/#{@post.id}/edit") %>
  <%= link_to("削除", "/posts/#{@post.id}/destroy") %>
</div>

