//共通
* {
  margin: 0px;
  padding: 0px;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  overflow: auto;
}

body {
  background-color: rgb(255, 248, 238);
  overflow: hidden;
  min-width: 900px;
}

a {
  text-decoration: none;
  color: #2d3133;
}

li {
  list-style: none;
}

img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

//ここからheader
header {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  background: #FEA7C0;
  box-shadow: 0 2px 6px #c1ced7;
}

header a {
  color: white;
}

.header-logo {
  float: left;
  padding-top: 5px;
  padding-left: 60px;
  font-size: 26px;
}

.header-menus {
  overflow: hidden;
  float: right;
  padding-top: 10px;
  padding-right: 60px;
  font-size: 18px;
}

.header-menus li {
  float: left;
  margin-left: 16px;
}

//ここからトップページコンテンツ
.contents {
  padding-left: 120px;
}

.contents-menus {
  margin-top: 60px;
  margin-left: 42px;
}

.contents-menus a {
  color: white;
}


.contents-menus li {
  float: left;
  margin-right: 16px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  background-color: #FEA7C0;
  box-shadow: 0 2px 6px #c1ced7;
}

.contents-list {
  width: 100%;
  height: auto;
  padding-top: 100px;
}

.contents-item {
  float: left;
  flex-flow: column;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: 40px;
  padding: 5px 5px 5px 5px;
  width: 500px;
  height: 100px;
  border: solid;
  border: 1px solid;
  border-radius: 30px;
  border-color: #FEA7C0;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.contents-left {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.contents-right {
  width: 400px;
  height: 100px;
  margin-left: 100px;
}

.contents-name {
  font-size: 26px;
  width: 360px;
  height: 34px;
  margin-left: 20px;
  margin-bottom: 6px;
  border-bottom: dotted 3px #FEA7C0;
}

.contents-name span {
  font-size: 16px;
}

//ここから新規投稿ページ
.post {
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-left: 360px;
}

.post h1 {
  width: 110px;
  height: 36px;
  background-color: #FEA7C0;
  color: white;
  font-size: 26px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-form {
  margin-top: 20px;
  width: 610px;
  height: 360px;
  border: solid;
  border: 1px solid;
  border-radius: 30px;
  border-color: #FEA7C0;
  background-color: white;
  padding: 40px 40px 40px 40px;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-form textarea {
  width: 600px;
  height: 300px;
  border-color: #bbb;
  resize: none;
  font-size: 24px;
}

.post-form input {
  width: 100px;
  height: 50px;
  background-color: #FEA7C0;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 16px;
  margin: 12px 0px 0px 500px;
}

//ここから投稿詳細ページ
.post-details {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-left: 360px;
  margin-bottom: 360px;
}

.post-details h1 {
  width: 160px;
  height: 36px;
  background-color: #FEA7C0;
  color: white;
  font-size: 26px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-post-item {
  margin-top: 20px;
  width: 680px;
  height: auto;
  border: solid;
  border: 1px solid;
  border-radius: 30px;
  border-color: #FEA7C0;
  background-color: white;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-post-left {
  float: left;
  width: 100px;
  height: 200px;
  margin-right: 20px;
}

.user-post-right {
  width: 400px;
  height: auto;
  margin-left: 100px;
}

.post-user {
  font-size: 26px;
  width: 520px;
  height: 34px;
  margin-left: 20px;
  margin-bottom: 6px;
  border-bottom: dotted 3px #FEA7C0;
}

.post-menu {
  width: 680px;
  height: 100px;
}

.post-menu li {
  float: left;
  margin-top: 40px;
  margin-right: 20px;
  padding: 10px 16px 10px 16px;
  background-color: #FEA7C0;
  border: none;
  border-radius: 16px;
}

.user-post-edit {
  color: white;
  font-size: 16px;
}

.user-post-destroy {
  color: white;
  font-size: 16px;
}

//ここから投稿編集ページ
.post-edit {
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-left: 360px;
}

.post-edit h1 {
  width: 110px;
  height: 36px;
  background-color: #FEA7C0;
  color: white;
  font-size: 26px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-edit-form {
  margin-top: 20px;
  width: 610px;
  height: 360px;
  border: solid;
  border: 1px solid;
  border-radius: 30px;
  border-color: #FEA7C0;
  background-color: white;
  padding: 40px 40px 40px 40px;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-edit-form textarea {
  width: 600px;
  height: 300px;
  border-color: #bbb;
  resize: none;
  font-size: 24px;
}

.post-edit-form input {
  width: 600px;
  height: 300px;
  border-color: #bbb;
  resize: none;
  font-size: 24px;
}

.post-edit-form input {
  width: 100px;
  height: 50px;
  background-color: #FEA7C0;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 16px;
  margin: 12px 0px 0px 500px;
}