//ここからユーザー一覧ページ
.users {
  margin-top: 30px;
  padding-left: 120px;
}

.users h1 {
  width: 160px;
  height: 30px;
  margin-left: 40px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  background-color: #FEA7C0;
  box-shadow: 0 2px 6px #c1ced7;
  color: white;
  font-size: 26px;
}

.users-list {
  padding-top: 40px;
}

.users-item {
  float: left;
  flex-flow: column;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: 40px;
  padding: 5px 5px 5px 5px;
  width: 500px;
  height: 100px;
  border: solid;
  border: 1px solid;
  border-radius: 30px;
  border-color: #FEA7C0;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.users-left {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.users-right {
  width: 400px;
  height: 100px;
  margin-left: 100px;
}

.users-name {
  font-size: 26px;
  width: 360px;
  height: 34px;
  margin-left: 20px;
  border-bottom: dotted 3px #FEA7C0;
}

.users-sex {
  margin-top: 6px;
  font-size: 18px;
}

//ここからログインフォーム
.login {
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-left: 360px;
}

.login h1 {
  width: 110px;
  height: 36px;
  background-color: #FEA7C0;
  color: white;
  font-size: 26px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  box-shadow: 0 2px 6px #c1ced7;
}

.login-form {
  margin-top: 20px;
  width: 610px;
  height: 220px;
  border: solid;
  border: 1px solid;
  border-radius: 30px;
  border-color: #FEA7C0;
  background-color: white;
  padding: 40px 0px 40px 90px;
  box-shadow: 0 2px 6px #c1ced7;
}

.login-form p {
  margin-top: 20px;
}

.login-form input[name="email"], input[name="password"] {
  width: 500px;
  height: 26px;
  font-size: 16px;
}

.login-form input[type="submit"] {
  width: 100px;
  height: 50px;
  background-color: #FEA7C0;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 16px;
  margin: 26px 0px 0px 400px;
}

//ここから新規登録ページ
.signup {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-left: 360px;
}

.signup h1 {
  width: 210px;
  height: 36px;
  background-color: #FEA7C0;
  color: white;
  font-size: 26px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  box-shadow: 0 2px 6px #c1ced7;
}

.signup-form {
  margin-top: 20px;
  width: 610px;
  height: 450px;
  border: solid;
  border: 1px solid;
  border-radius: 30px;
  border-color: #FEA7C0;
  background-color: white;
  padding: 40px 0px 40px 90px;
  box-shadow: 0 2px 6px #c1ced7;
}

.signup-form p {
  margin-top: 20px;
}

.signup-form input[name="name"], input[name="email"], input[name="password"]  {
  width: 500px;
  height: 26px;
  font-size: 16px;
}

.signup-form select {
  width: 505px;
  height: 32px;
  font-size: 16px;
}

.signup-form input[type="submit"] {
  width: 100px;
  height: 50px;
  background-color: #FEA7C0;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 16px;
  margin: 26px 0px 0px 400px;
}

//ここからユーザー詳細ページ
.user {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-left: 360px;
  margin-bottom: 360px;
}

.user h1 {
  width: 184px;
  height: 36px;
  background-color: #FEA7C0;
  color: white;
  font-size: 26px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-details {
  margin-top: 20px;
  width: 610px;
  height: auto;
  border: solid;
  border: 1px solid;
  border-radius: 30px;
  border-color: #FEA7C0;
  background-color: white;
  padding: 40px 0px 40px 90px;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-details p {
  width: 300px;
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 6px;
  border-bottom: dotted 3px #FEA7C0;
}

.introduction {
  width: 400px;
}


.user-details-menu {
  width: 60px;
  height: 40px;
  margin-top: 30px;
  padding: 10px 10px 0px 30px;
  background-color: #FEA7C0;
  border: none;
  border-radius: 16px;
}

.user-details-edit {
  color: white;
  font-size: 20px;
}

.post-list {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.post-item {
  margin-top: 20px;
}

.user-post {
  width: 690px;
  height: 100px;
  margin-bottom: 20px;
  padding: 5px 5px 5px 5px;
  border: solid;
  border: 1px solid;
  border-radius: 30px;
  border-color: #FEA7C0;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-left {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.post-right {
  width: 500px;
  height: 100px;
  margin-left: 100px;
}

.user-name {
  font-size: 26px;
  width: 520px;
  height: 34px;
  margin-left: 20px;
  margin-bottom: 6px;
  border-bottom: dotted 3px #FEA7C0;
}

//ここからユーザー編集ページ
.user-edit {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-left: 360px;
  margin-bottom: 360px;
}

.user-edit h1 {
  width: 236px;
  height: 36px;
  background-color: #FEA7C0;
  color: white;
  font-size: 26px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-edit-form {
  margin-top: 20px;
  width: 610px;
  height: auto;
  border: solid;
  border: 1px solid;
  border-radius: 30px;
  border-color: #FEA7C0;
  background-color: white;
  padding: 40px 0px 40px 90px;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-edit-form p {
  margin-top: 20px;
}

.user-edit-form input[name="name"], input[name="email"], input[name="password"], input[name="sexual_details"], input[name="love_details"] {
  width: 500px;
  height: 26px;
  font-size: 16px;
}

.user-edit-form select {
  width: 505px;
  height: 32px;
  font-size: 16px;
}

.user-edit-form textarea {
  width: 500px;
  height: 100px;
  font-size: 16px;
  resize: none;
}

.user-edit-form input[type="submit"] {
  width: 100px;
  height: 50px;
  background-color: #FEA7C0;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 16px;
  margin: 26px 0px 0px 400px;
}
